<div class="banner-container">
    <h1>MĀHŪ apoyo a la Comunidad Trans</h1>
    <p>Descubre nuestras fundaciones y únete a nosotros en el camino hacia la igualdad.</p>
  </div>

  <body>
    <body>
        <div class="cuadro">
            <img src="assets/img/FunArcoiris.jpg" alt="Imagen 1">
            <h2>Fundación Afrocolombiana Arcoiris</h2>
            <p>Somos una organización de la sociedad civil que lucha por la defensa y exigibilidad de los derechos</p>
            <a href="https://www.facebook.com/profile.php?id=100064623697851">Ir a otra página</a>
        </div>
    
        <div class="cuadro">
            <img src="assets/img/sergio.jpg" alt="Imagen 2">
            <h2>Fundación Sergio Urrego</h2>
            <p>Entidad no gubernamental que trabaja por prevenir el acoso escolar en todos los ámbitos educativos y la prevención del suicidio debido a la discriminación en niños, adolescentes y jóvenes</p>
            <a href="https://www.sergiourrego.org/">Enlace a otra página</a>
        </div>
    

        <div class="cuadro">
            <img src="assets/img/Gaat.jpeg" alt="Imagen 2">
            <h2></h2>
            <p>GAAT es una organización que trabaja por la defensa y promoción de los derechos y “ciudadanía plena” de las personas trans, sus familias y sus redes de apoyo</p>
            <a href="https://fundaciongaat.org/">Enlace a otra página</a>
        </div>









    </body>