<body>

    <div class="story-box">
        <h2>Nixon Ortiz</h2>
        <div class="image-container">
            <img src="assets/img/MAHU.ico" alt="Imagen de la historia 1">
        </div>
        <div class="text-content">
            <p>Cuando comenzaron a identificarse como personas Trans en el pueblo eran agredidas de muchas formas, yo fui víctima de estas agresiones, nadie defendía a estas personas, porque no se comprendía su tránsito en el municipio, solo se aprovechaban de sus habilidades creativas frente a el distrito, no se debe abusar de ningún ser humano</p>
        </div>
    </div>

    <div class="story-box">
        <h2>Terry (MUJER TRANS)</h2>
        <div class="image-container">
            <img src="assets/img/MAHU.ico" alt="Imagen de la historia 1">
        </div>
        <div class="text-content">
            <p>Yo siempre me he automedicado, me tomo mis tabletas de pastillas 10 pastilla 3 veces a la semana o algunas veces 20 pastillas, pero siempre dejo pasar de a un día para no tener mareos, nunca me ha pasado nada malo con lo que hago, tampoco me he inyectado todas las hormonas que he consumido han sido de manera oral, he luchado mucho antes la policía nos encerraba en el calabozo y nos echaban agua fría para que se nos quitara lo marica, yo me considero una mujer, pero no he cambiado mi nombre jurídico porque mi abuela antes de yo irme de la casa, cuando era muchachita me dijo, que no cambiara de nombre por si me llegaba a pasar algo como me iban a buscar si ya no me llamo José Alberto, pero me gusta que me llamen Terry siempre desde que inicia a los 14 años que me fui de mi casa me he hecho llamar Terry, soy una estilista orgullosa.</p>
        </div>
    </div>

    <div class="story-box">
        <h2>José Estacio (SOCIOLOGO)</h2>
        <div class="text-content">
            <div class="image-container">
                <img src="assets/img/MAHU.ico" alt="Imagen de la historia 1">
            </div>      
            <p>Recientemente estoy trabajando como coordinador de una estrategia que se llama transformaciones positivas, es importante reconocer que las experiencias de vida de hombre y mujeres trans es diferente a la de una mujer lesbiana o hombres gay, son contextos diferentes y concetos totalmente que derivan en cada persona de esta comunidad Trans, las necesidades en salud son muy importantes resaltaras ya que son muy diferentes.
                Las experiencias de vidas trans juegan un papel muy importante ya que su transformación pesa porque cambia su cuerpo y su mentalidad, donde puede ser afectado diferentes aspectos de su vida”.
                .</p>
        </div>   
    </div>






</body>