<div class="portada">
<body>
    <div class="banner">
        <img src="assets/img/Banner1.jpg" alt="Tu Foto de Referencia" class="reference-photo">
        <h1>Māhū</h1>
        <p>Este proyecto de investigación, se ha llevado a cabo la definición y creación de la identidad que encapsulará la esencia y propósito de esta indagación
            "". Este término, de origen hawaiano, posee un significado profundo y cultural que aporta una dimensión única este proyecto
            "Māhū se refiere a una identidad de género tradicional en la cultura hawaiana, que abarca a individuos que poseen tanto características masculinas como femeninas, representando la dualidad y la diversidad.</p>
    </div>
</body>

</div>
















































