/* Estilos del área de contenido principal (sección hero) */


.hero {
  background-size: cover;
  background-image: url('/src/assets/img/Fondotrans.png');
  background-position: center;
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  background-color: #FF4081;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #E91E63;
}
