<div class="stories-banner">
  <div class="story">
    <div class="story-image">
      <!-- Ruta relativa a la carpeta "assets" -->
      <img src="assets/img/Banner1.jpg" alt="Mi Imagen">
    </div>
    <div class="story-content">
      <h2>Historias Transgénero</h2>
      <p>
        Descubre nuestras historias transgénero que han luchado contra la adversidad para vivir su auténtica identidad de género.
      </p>
      <li><a routerLink="/bannerhistorias">Leer historias</a></li>

    </div>
  </div>
</div>

<body>
  <header>
      <h1>Sección de Videos</h1>
  </header>

  <section>
    <div class="video-container">
      <h2>Historias reales de personas #trans y sus familias #LGTBIQ</h2>
      <video width="100%" height="auto" controls>
        <source src="assets/videos/Parte1.mp4" type="video/mp4">
        Tu navegador no soporta el tag de video.
      </video>
      <p><a href="https://www.youtube.com/@CanalCOSMO" target="_blank">Conocer el canal</a></p>
  </div>

  <div class="video-container">
      <h2>Historias reales de personas #trans y sus familias | PARTE 2 #LGTBIQ</h2>
      <video width="100%" height="auto" controls>
        <source src="assets/videos/Parte2.mp4" type="video/mp4">
        Tu navegador no soporta el tag de video.
      </video>
      <p><a href="https://www.youtube.com/@CanalCOSMO" target="_blank">Conocer el canal</a></p>
  </div>