<section class="hero">
    <div class="hero-content">
        <h2>Bienvenido a MĀHŪ </h2>
        <p>Donde la diversidad es celebrada y respetada.</p>
        <a routerLink="/unete" class="btn">Únete a nosotros</a>
    </div>
</section>
<section class="intro-section">
  <div class="intro-content">
      <h1>MĀHŪ </h1>
    <p>Un espacio inclusivo para compartir historias, recursos y apoyo.</p>
    <a routerLink="/historias" class="cta-button">Explorar Historias</a>
    <img src="assets/img/Banner1.jpg" alt="Mi Imagen">
  </div>
</section>
<section class="trans-biography">
  <div class="biography-content">
      <h2>MĀHŪ:Nuestra Historia</h2>
      <p>Bienvenido a nuestro espacio dedicado a la comunidad transgénero, un lugar donde celebramos la diversidad, la autenticidad y la fortaleza de las personas trans. Nos esforzamos por proporcionar un entorno inclusivo donde cada historia es valiosa y cada voz es escuchada.</p>
      <p>Desde experiencias personales hasta recursos educativos, aquí encontrarás un compendio de conocimiento y apoyo. Nos unimos para crear un mundo más comprensivo, respetuoso y acogedor para todos, independientemente de su identidad de género.</p>
      <p>Explora nuestras historias, comparte tus experiencias y únete a nosotros en el viaje hacia la igualdad y el entendimiento.</p>
  </div>
</section>
  <section class="about-section">
    <div class="about-content">
      <h2>Sobre Nosotros</h2>
      <p>Somos una pagina dedicada a proporcionar un lugar seguro y acogedor para compartir experiencias, recursos y apoyo para la comunidad transgénero.</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Liz Valentina Revelo Teran. 
                Diseñadora Grafica 
                Creadora Oficial de MĀHŪ
    </p>
</footer>

