<header>
  <h1>Sección de recurso de informacion</h1>
</header>

<div class="portada">
<body>


  <div class="noticia">
    <figure>
      <figcaption>
      <img src="assets/img/Automdicacion1.jpg" alt="Noticia 1">
      <blockquote>Radionica.rock</blockquote>
      <h2>La Automedicación </h2>
    </figcaption>
    </figure>
      <p>La automedicación, un fenómeno que puede resultar perjudicial para la salud en diversos contextos, se presenta como una preocupación especialmente relevante en la comunidad de personas trans. Según un informe del Ministerio de Salud y Protección Social de Colombia, la automedicación en personas trans es una práctica que a menudo surge debido a barreras en el acceso a servicios de salud especializados. Las personas trans buscan, en muchos casos, suprimir o modificar los rasgos físicos secundarios de su sexo asignado al nacer mediante hormonas. Sin embargo, este proceso sin supervisión médica y sin el seguimiento adecuado puede conllevar riesgos significativos para la salud, incluyendo desequilibrios hormonales, efectos secundarios adversos y complicaciones graves. Se enfatiza la importancia de atención la búsqueda de profesionales de la salud especializados y evaluación a evaluaciones médicas regulares para garantizar un proceso seguro y efectivo de transición de género</p>
    
    </div>

  <div class="noticia">
      <img src="assets/img/Automdicacion2.jpg" alt="Noticia 2">
      <blockquote>Josefinamendoza.com</blockquote>
      <h2>Conscuencias de automedicación</h2>
      <p>La administración no controlada de hormonas puede resultar en desequilibrios hormonales, aumentando el riesgo de efectos secundarios adversos, como coágulos sanguíneos, enfermedades cardiovasculares, cambios bruscos de humor, e incluso impactos negativos en la función hepática. Además, la falta de orientación médica especializada puede llevar a dosis inapropiadas, lo que agrava los riesgos para la salud. La automedicación también puede interferir con la salud mental, ya que el proceso de transición hormonal sin supervisión puede generar ansiedad, depresión y frustración debido a la ausencia de un plan de tratamiento integral. Para salvar la salud y el bienestar, es crucial que las personas transgénero busquen la asesoría de profesionales de la salud especializados en medicina de género para garantizar una transición segura y efectiva.</p>
  </div>

  <div class="noticia">
    <img src="assets/img/Automdicacion3.jpg" alt="Noticia 2">
    <blockquote>Homosexuales.com</blockquote>

    <h2>Los efectos secundarios que este puede llevar a tener</h2>
    <p>El estrógeno en el cuerpo de una Mujer Trans siempre hace cambios positivos en su gran mayoría, suavidad en la piel, distribución de masa muscular , el restablecimiento de los senos, cambios en el vello facial y corporal, algunas mujeres también utilizan bloqueadores de testosterona para aumentar el desarrollo del estrógeno, las hormonas actúan de manera diferente en cada cuerpo, por eso no se sabe con certeza cuáles serán los resultados en el cuerpo de cada persona (Health). Por otro lado, en los chicos Trans la testosterona , hace un cambio en las facciones faciales rasgos más marcados y crecimiento en el vello facial, pérdida de la regla en cada mes, regula la producción de estrógenos y pérdida en las mamas</p>
</div>

<div class="noticia">
  <img src="assets/img/RutaS.jpg" alt="Noticia 1">

  <h2>Ruta sana </h2>
  <blockquote>Rosario3</blockquote>

  <p>Es importante comenzar con ayuda psicológica, así pues, conoceremos el estado en el que podemos estar para comenzar con la TRH, después se visita a la eps en donde estes afiliado, para continuar con una cita con un médico general, asimismo se envía al paciente acompañamiento con el psiquiatra, para ser enviado al endocrinólogo que es el encargado en hacerte exámenes para analizar tu nivel hormonal y receptarte lo que tu cuerpo necesita (Arlette Adauy, 2018).
    La terapia de reemplazo hormonal (TRH) es un componente esencial en el proceso de transición de género para muchas personas trans, y cuando se lleva a cabo con el acompañamiento y supervisión de profesionales de la salud especializados, puede ser una ruta segura y efectiva para Alcanzar los objetivos deseados. Según las Pautas de Atención de la Asociación Mundial de Profesionales de la Salud para la Atención de Personas Transgénero (WPATH), la TRH implica la administración de hormonas que concuerdan con la identidad de género de la persona. En el caso de personas transmasculinas, esto puede incluir la administración de testosterona, mientras que para personas transfemeninas, se utilizan estrógenos y antiandrógenos. El tratamiento suele </p>
</div>

</body>
<li><a routerLink="/" routerLinkActive="active-link">Inicio</a></li>
</div>




















